@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background: linear-gradient(135deg, #833AB4, #FD1D1D, #FCB045);

} 


body::-webkit-scrollbar {
    display: none;

}




nav{
        display: flex;
    height: 80px;
    width: 100%;
    background: none;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    flex-wrap: wrap;
    margin-bottom: 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
.logo{
  margin-left: 9px;
  background: none;

}
.logo-img{
  position: absolute;
  border-radius: 20%;
  width: 2.6rem;
  margin-top: 0.8%;
}
nav .logo-name{
  color: white;
  font-size: 35px;
  font-weight: 600;
  /* position: relative; */
  margin-left: 43px;
  background: none;
  margin-top: 2px;

}


.logo-name > a{
  background: none;
  color: white;
  font-size: 1.6rem;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background: transparent;
}
nav ul li{
  margin: 0 -7px 0 22px;
  background: transparent;

}
nav ul li a{
  color: white;
  text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 15px;
    /* border-radius: 93px; */
    letter-spacing: 0px;
    background: none;


    /* transition: all 0.3s ease; */
}
nav ul li a.active,
nav ul li a:hover{
  color: #FCB045;

}
nav .menu-btn i{
  color: white;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

.content {

  position: relative;
  border: 1px solid lightgrey;
  /* padding-bottom: 40px; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  margin-bottom: 32px;
  max-width: 59rem;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(8px);
  border-radius: 1rem;
  padding: 1.5rem;
}



.dropdown>a{
  background: none;
}

  .content>.cont-heading{
    background: none;
    /* font-size: 30px; */
    /* font-weight: 600; */
    /* text-align: center; */
    padding: 55px 1px 1px 1px;
    text-align: center;
    font-size: 1.5rem;
    color: #1F2937;
    margin-bottom: 1.5rem;
    

  }
  .search-div{
    margin: 12px auto;
    /* max-width: 561px; */
    margin-top: 4%;
    position: relative;
    background: transparent;
  }

  .search{
    background: none;
    padding: 0px 3px 0px 0px;
  }
.search-input{
  width: 86%;
  height: 52px;
  background: white;
  border: 1px solid #E5E7EB;
  border-radius: 0.5rem;
  padding-left: 18px;
  outline: none;

}



.start-btn{
  position: absolute;
  right: 0;
  top: 0;
  height: 52px;
  width: 120px;
  display: inline-block;
  font-size: 14px;
  border-radius: 0.5rem;
  color: #fff;
  border: none;
  font-weight: 400;
}
.hidden-xs{
  font-size: 14px;
  border-radius: 4px;
  color: #fff;
  /* border: 1px solid purple; */
  background: none;
  font-weight: 400;
  border-radius: 0.5rem;
}

.fa-arrow-right{
    background: none;
    font-size: 14px;
    font-style: normal;
    
}
.cont-hr{
    border-width: 0;
    border-top: 1px solid #dcdfe4;
    margin: 0px 0px 0px 19.6%;
    width: 60.5%;
    position: relative;
    /* display: block;
    top: 10%; */
    margin-top: 100px;
}

.instruction-h2{
  position: relative;
  background: none;
}
.p1{
    position: relative;
    background: none;
}
.p2{
    position: relative;
    background: none;
}
.p3{
    position: relative;
    background: none;
}
.p4{
    position: relative;
    background: none;
}

.inst-cont{
  position: relative;
  background: none;
  margin: 0px 12.5% 10px 17%;
    
}


.t-and-c-p{
  background: none;
  text-align: center;
  padding-top: 6px;
  font-size: 13px;
  color: #6B7280;

}
.t-and-c-link{
    background: none;

}

.after-cont{
  text-align: center;
  margin-top: 2rem;
  background: none;
  color: white;
}
.rew{
  background: none;
}
.after-cont>div>h2>strong{
  font-weight: 400;
  background: none;

}

.after-cont>div>p{
  width: 70%;
  margin: 0% auto 100px auto;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  background: none;

}
.after-cont>div>h2{
  margin: 0% 0% 1% 0%;
  background: none;
}
.h1{
    background: rgba(0,0,0,0) radial-gradient(ellipse at center center,rgba(0,0,0,0.2) 0px,rgba(255,255,255,0) 75%) repeat scroll 0 0;
    bottom: 75px;
    position: relative;
    width: 52%;
    margin: 0 auto;
    margin-bottom: -10px;
    border-width: 0;
    border-top: 1px solid darkgrey;

}










.card {
  /* width: 45%; */
}

.left {
  float: left;
  position: absolute;
  background: none;
  margin: -27px 0% 0% 10.5%;
  width: 40%;
}
.left>h5{
  margin: -14px 5%;
}
.left>p{
  margin: 20px 5%;
}

.right {
  float: right;
  /* position: absolute; */
  margin-right: 13%;
  background: none;
}
.li1{
  margin-top: -7px;
  padding-bottom: 10px;
  background: none;
}
.li2{
  padding-bottom: 10px;
  background: none;
}
.li3{
  padding-bottom: 10px;
  background: none;
}
.li4{
  background: none;
}

.card-title1{
  position: relative;
  margin-left: 5%;
  padding-top: 13px;
  color: white;
  background: none;
}
.card-title{
  position: relative;
  right: 19px;
  bottom: 11px;
  padding-bottom: 13px;
  color: white;
  background: none;
}
.nepo{
  position: relative;
  background: none;
  color: white;

}


.hr-0{
  background: rgba(0,0,0,0) radial-gradient(ellipse at center center,rgba(0,0,0,0.2) 0px,rgba(255,255,255,0) 75%) repeat scroll 0 0;
  position: relative;
  width: 52%;
  margin: 48px 12.5% 28px 24%;
  border-width: 0;
  border-top: 1px solid darkgrey;
}


.red{

  position: relative;
  display: inline-block;
  width: 33%;
  text-align: center;

}

.icon-sec{
  position: relative;
  width: auto;
  margin-bottom: 8%;
  background: none;
}


.fa{
  font-size: 4rem;
  position: relative;
  color: white;

}
.image-container {
  float: left;
  width: 45%;
  background: none;
  margin-top: 16px;
}
















.table-container {
  display: none;
  overflow: hidden;
    margin-top: 52px;
    margin-right: 28px;
}

/* Style for the table */
.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th{
  border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: white;
    font-size: 16px;
    font-weight: 300;
    background: white;
}

.table-container td {
  border: 1px solid #dddddd;
    text-align: left;
    padding: 14px 27px;
    background-color: white;
    background: white;

}
tbody{
  background: white;
}

.styled-button {
    background-color: white;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .styled-button:hover {
    background-color: #a52b2b;
  }

  .icon {
    margin-right: 6px;
    background: none;
  }

  .fa-download{
    background: none
  }

  .table-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background: white;
  }

  .table-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background: white;
  }

  /* .table-container ul li {
    margin-right: 10px; 
  } */

  .table-container ul li a {
    display: inline-flex;
    align-items: center;
    padding: 19px 12px;
    background-color: white;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    line-height: 13px;
    width: 81px;
    height: 29px;
    font-weight: 600;
  }

  .table-container ul li a:hover {
    background-color: #ddd;
    color: white;
  }

  .table-container ul li a.active {
    background-color: #ddd;
    background: white;
    color: white;
  }
tr{
  background: white;
}
  .icon {
    margin-right: 5px; /* Adjust spacing between icon and text */
    font-size: 18px; /* Adjust icon size */
  }




.loader {

  width: 13px;
  padding: 2px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
  position: absolute;
  margin: -6px 48%;
  display: none;
}
.footer-address {
  margin: 3% 19%;
        display: inline-block;
        position: relative;
        background: none;
        color: whitesmoke;
}
.pg-link > strong{
  top: 8px;
}
.fa-solid{
  background: none;
}
.fa-regular{
  background: none;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #953553, -20px 0 #0002;background: #953553 }
    33% {box-shadow: 20px 0 #953553, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #953553; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #953553; background: #953553 }
}


.red>h3{

  color: white;
  margin-top: 20px;
  background: none;

}
.red-p{
  margin-top: 16px;
  background: none;
}
.foot-lakeer{
  background: rgba(0,0,0,0) radial-gradient(ellipse at center center,rgba(0,0,0,0.2) 0px,rgba(255,255,255,0) 75%) repeat scroll 0 0;
  position: relative;
  width: 100%;

  border-width: 0;
  border-top: 1px solid whitesmoke;;
}
.footer{
  margin-bottom: 0%;
  background: none;
}

.copyright{
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin-top: 10%;
  color: whitesmoke;
  background: none;
}
.footer-address{
  margin: 3% 19%;
  display: inline-block;
  position: relative;
}
.footer-address>P{
  margin-bottom: 10px;
  background: none;
  color: whitesmoke;
}

.footer-address>p>a{

    color: whitesmoke;
    background: none;

}
.footer-address>p>a:hover{
  text-decoration: underline;
  color: #1B1B1B;

}
.footer-address1>p>a:hover{
  text-decoration: underline;
  color: whitesmoke;

}
.footer-address2>p>a:hover{
  text-decoration: underline;
  color: #1B1B1B;

}



.footer-address1{
  margin: 3% 0% 0 -106px;
  position: absolute;
  display: inline-block;
  background: none;
}
.footer-address1>P{
  margin-bottom: 10px;
  color: whitesmoke;
  background: none;
}

.footer-address1>p>a{

  color: whitesmoke;
  background: none;

}

.footer-address1>p>a:hover{
  color: #1B1B1B;
}

.footer-address2>p>a:hover{
  color: #1B1B1B;
}


.footer-address2{
  margin: 3% 0% 0 142px;
  display: inline-block;
  position: absolute;
  background: none;
}
.footer-address2>P{
  margin-bottom: 10px;
  background: none;
}

.footer-address2>p>a{
    /* text-decoration: none; */
    color: whitesmoke;
    background: none;

}

.inst-cont>li{
  margin-left: 24px;
  background: none;
}

/* .icons{
  color: white;
  position: absolute;
  text-align: center;
  margin-top: 79px;
}
.icons-p{
  position: absolute;
  text-align: center;
  margin-top: 112px;
  margin: 112px -48px;
  width: 45%;

} */






.thumb-p{
  background: none;
  font-size: 15px;

  margin-bottom: 45px;
  width: 80%;
  font-weight: 500;
}
input[type="checkbox"]{
  display: none;
}
@media (min-width: 920px){
  .thumbnail-image{
    width: 82%;
    /* margin-left: 40px; */
    border-radius: 0.5rem;
  }
}

@media (max-width: 680px) {
  nav .logo-name {
    color: white;
    font-size: 35px;
    font-weight: 600;
    /* position: relative; */
    margin-left: 43px;
    background: none;
    margin-top: 0px;
}
  .table-container td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px 4px;
    background-color: white;
}
    .logo {
        padding: 1px 0px 1px 0px;
    }
    nav {
        padding: 2px 37px 0 28px;
    }
    .inst-cont{
      margin: 0px 12.5% 10px 10%;
    }
    .inst-cont>li{
      margin-left: 5px;
    }

    .after-cont>div>p{
        width: 100%;
        margin: 0;
        font-weight: 300;
        font-size: 16px;
    }
    .right{
      float: none;
      margin-left: 17%;
      margin-right: 0;
    }

.thumb-p{
  background: none;
  font-size: 15px;
  margin-left: 0px;
  margin-bottom: 45px;
  width: 100%;
  font-weight: 500;
}

.thumbnail-image {
  width: 100%;
  margin-left: 0px;
  border-radius: 0.5rem;
}




    /* .right{


    margin-left: 16%;

float: none;
margin-right: 0%;
    } */
    /* .hr-0 {
      margin: 38px 12.5%;
  } */
  .image-container {
  
    float: none;
    width: 100%;
    background: none;
    margin-top: 16px;
  }
  .table-container {
    overflow: hidden;
    margin-top: 52px;
    margin-right: 0px;
    background: none;
}

.table-container th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: white;
  font-size: 16px;
  font-weight: 300;
}

.styled-button {
  background-color: white;
  color: white;
  border: none;
  border-radius: 5px;
  width: 80%;
  /* padding: 8px 1px; */
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 8%;
}
}



@media (min-width: 681px) and (max-width: 919px) {


  .table-container {
    overflow: hidden;
    margin-top: 52px;
    margin-right: 0px;
}
  .right{
    float: none;
    margin-left: 15%;
    margin-right: 0;
  }
  .image-container {
    float: none;
    width: 100%;
    background: none;
    margin-top: 16px;
}

.thumbnail-image {
  width: 90%;
  margin: 0 6%;
  border-radius: 0.5rem;
}
.thumb-p{
background: none;
font-size: 15px;
/* margin-left: 40px; */
margin-bottom: 45px;
margin: 0 6%;
width: 74%;
font-weight: 500;
}
}

@media (max-width: 920px) {



  .logo {
    margin-left: 4px;
}
    body{
        width: 100%;

       
    }
    nav {
      padding: 0px 7px 0 0px;

    }
  nav .menu-btn i{
    border: 2px solid;
    border-radius: 21%;
    padding: 2px 5px 2px 5px;
    display: block;
    background: #833AB4;
  }
  .search-input{
    width: 90%;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .hidden-arr{
    display: block;
  }
  .hidden-xs{
    display: none;
  }
  .start-btn{
    width: 62px;
  }
  .cont-hr {
    margin: 0;
    margin-top: 109px;
    margin-left: 2%;
    margin-bottom: 6%;
}

  .after-cont>div>p{
    margin: 0px 0% 100px 1%;;
    width: 98%;

  }

  nav ul{
    position: absolute;
    top: 80px;
    left: -100%;
    background: linear-gradient(135deg, #833AB4, #FD1D1D, #FCB045);
  
    height: 337px;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
    z-index: 1;
  }
  nav ul li{
    /* width: 100%; */
    margin: 40px 0;
    background: transparent;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
    
    background: none;
  }


  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: #ff939f;
  }



  .content{
    width: 100%;
    clear: right;
    padding: 8% 2%;
    margin-top: 4%;
    margin-right: 0;
    border-radius: 0;
  }
  .left{
    float: left;
    position: relative;
    padding: 0 0%;
    margin: 0px 8%;
    width: 92%;
    margin-bottom: 20px;
    z-index: 1;
  }

.card-title1{
    padding-top: 0px;
    background: none;
    color: white;
}
.red{
  display: block;
  text-align: center;
  margin: 0 0% 7% 0%;
  /* padding: 0 -33%; */
  width: 100%;
}
.fa{
  font-size: 3rem;
}

.footer-address{
  display: block;
  margin: 7% 7%;
  position: relative;
}
.footer-address1{
  display: block;
  position: relative;
  margin: 0% 0% 32px 7%;
}
.footer-address2{
  display: block;
  margin: 0% 0px 0% 7%;
  position: relative;
}


}


@media (min-width: 921px) and (max-width: 1000px) {

    nav{
        padding: 0 40px 0 50px;
      }
    .content{
        margin-right: 5%;
        width: 90%;
    }
    .logo{
        position: relative;
        bottom: 24px;
        /* margin-left: 40px; */
    }

    
nav .logo-name{
    position: absolute;
}
}
@media (min-width: 681px) and (max-width: 919px) {
  .hr-0{
    margin: 56px 12.5%;
  }


}

@media (min-width: 1001px)  and (max-width: 1067px) {
    /* .content{
        height: 100vh;
        width: 82.5%;
        background-color: white;
        float: right;
        margin-right: 89px;
        border-radius: 3px;
        position: relative;
        border: 1px solid lightgrey;
    } */
 
    nav{
      padding: 0 9%;
    }
  
    .content{
      width: 80%;
  
    }
 


}
.dropdown{
 
    background: none;

}
.dropdown>a>strong{
  background: none;
}
#selectedItem{
  background: none;
}